/* Navigation Link Styles */
.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    background-color: #FFFFFF; /* Underline color */
    transition: width 0.3s ease-in;
}

/* Active state */
.nav-link.active::after {
    width: 100%; /* Expand the underline when active */
}

/* Navigation Button Styles */
.nav-link Button {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    min-width: 100px;
    max-width: 150px; /* Set a max width to allow wrapping */
    white-space: normal; /* Allow text to wrap */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    border-radius: 0;
}

/* Navigation Links Container */
.nav-links {
    display: flex;
    flex-grow: 1;
}

/* Search Bar Styles */
.search-bar {
    background-color: #fff;
    color: #333;
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-radius: 16px;
    transition: border-color 0.3s;
    width: 20vw; /* Initial width */
    position: relative; /* Ensure dropdown is visible */
    overflow: visible; /* To show the search suggestions */
}

.search-bar::placeholder {
    color: #aaa; /* Light gray for placeholder text */
}

/* Search Suggestions Styles */
.search-suggestions {
    position: absolute;
    top: calc(100% + 5px); /* Ensure it's directly below the search input */
    left: 0;
    right: 0;
    background: white; /* Keep this for clarity */
    color: black;
    z-index: 10; /* Make sure it's above everything else */
    border: 1px solid #ccc; /* Optional: for clarity */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: depth */
    width: 100%; /* Match the width of the search input */
    max-height: 300px; /* Optional: to limit height */
    overflow-y: auto; /* Enable scrolling if too many items */
}

.search-suggestions .MuiListItem-root {
    padding: 8px 16px; /* Better padding */
}

/* Toolbar Styles */
.toolbar {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    overflow: visible; /* To show the search suggestions */
}

/* Breakpoints */
@media (min-height: 0px) { /* XS (Extra Small) */
    .nav-link::after {
        height: 0.4vh;
        bottom: 0.3vh;
    }
    .nav-link Button {
        min-width: 100px;
        height: 7vh;
    }
    .toolbar {
        height: 7vh;
    }
}

@media (min-width: 360px) and (min-height: 800px) { /* SM (Small) */
    .nav-link::after {
        height: 0.5vh;
        bottom: 0.5vh;
    }
    .nav-link Button {
        width: 20vw; 
        height: 6vh;
    }
    .toolbar {
        height: 6vh;
    }
}

@media (min-width: 768px) and (min-height: 1024px) { /* MD (Medium) */
    .nav-link::after {
        height: 0.4vh;
        bottom: 0.5vh;
    }
    .nav-link Button {
        width: 20vw; 
        height: 5vh;
    }
    .toolbar {
        height: 5vh;
        /* Hide scrollbar */
        -ms-overflow-style: none;  /* Internet Explorer and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .toolbar::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
}

@media (min-width: 1280px) and (min-height: 720px) { /* LG (Large) */
    .nav-link::after {
        height: 0.5vh;
        bottom: 0.75vh;
    }
    .nav-link Button {
        width: 2.5vw; 
        height: 8vh;
    }
    .toolbar {
        height: 8vh;
    }
}

@media (min-width: 1920px) and (min-height: 1080px) { /* XL (Extra Large) */
    .nav-link::after {
        height: 0.25vh;
        bottom: 0.5vh;
    }
    .nav-link Button {
        width: 2.5vw;
        height: 5vh;
    }
    .toolbar {
        height: 5vh;
    }
}
